
<%= content_for :image do %>
  <%= image_tag "computer_table_courses.jpg" %>
<% end %>

<%= content_for :fb_image do %>
  <%= image_tag "hkn.png" %>
<% end %>

<%= content_for :page_title do %>

	
  <div class="sub_title"><small>Apprenez à</small></div>
  <div class="main_title">GENERER DES REVENUS</div>
  <div class="sub_title">sans capital de départ</div>

	

<% end %>

<div class="start_button">
	  <h1 class="text-right">
	  	<%= link_to "Commencer maintenant", new_user_registration_path, class: 'btn whitey btn-transparent btn-lg' %>
	  </h1>
	</div>
<%= render 'layouts/messages' %>

<!--<div class="row">
	<div class="container">
	bla bla
</div>-->

</div>
			
		

