
<%= content_for :image do %>
  <%= image_tag "kinshasa_sliced.jpg" %>
<% end %>

<%= content_for :fb_image do %>
  <%= image_tag "hkn.png" %>
<% end %>

<%= content_for :page_title do %>

	
  <div class="sub_title"><small>Préparez-vous à</small></div>
  <div class="main_title">RENTRER EN AFRIQUE</div>
  <div class="sub_title">étape par étape</div>

	

<% end %>

<div class="start_button">
	  <h1 class="text-right">
	  	<%= link_to "Les cours démarrent bientôt", "", class: 'btn whitey btn-transparent btn-lg' %>
	  </h1>
	</div>
<%= render 'layouts/messages' %>

<!--<div class="row">
	<div class="container">
	bla bla
</div>-->

</div>
			
		

