<div class="top-profile text-center">
	<%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
	<h3><%= @user.full_name %>
		<br><small><%= @user.baseline %></small>
		
	</h3>

		<%= link_to "#{@user.github}" do %>
		<%= content_tag(:i, "", class: "fa fa-lg fa-github fa-primary") %>
		
		<% end %>

		<%= link_to "#{@user.website}" do %>
		<%= content_tag(:i, "", class: "fa fa-lg fa-link fa-primary") %>
		<% end %>
</div>

<hr>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p><%= markdown(@user.bio) %></p>
<hr>
			<% if current_user == @user %>

				<ul class="list-group">
					<h3 class="text-center">Vos progrès</h3>
					<% @courses.each do |course| %>
						<li class="list-group-item">
							<p class="lead">
								<%= link_to course.name, course %> 
								<% if current_user.has_completed?(course) %>
								<i class="fa fa-trophy fa-primary pull-right"></i>
								<% else %>
								<%= link_to "Poursuivre", course, class: "btn btn-link btn-xs pull-right" %>
								<% end %> 
							</p>
							<div class="progress">
							  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @user.progress(course)%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.progress(course)%>%">
							    
							  </div>
							</div>
						</li>
					<% end %>
				</ul>

			<% end %>

		</div>
	</div>
