<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  
    <%= f.collection_select :subscriber_id, User.all, :id, :email, {prompt: false}, {class: "form-control input-lg"} %>
    <br>
    <%= f.collection_select :course_id, Course.all, :id, :name, {prompt: false}, {class: "form-control input-lg"} %>
  <br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
