<%= content_for :image do %>
<%= image_tag "computer_table.jpg" %>
<% end %>

<%= content_for :page_title do %>
apprenez comment
<br>GENERER DES REVENUS 
<br>sans capital de départ
<% end %>





<h1 class="page-header">
  <small>Découvrez les cours disponibles</small>
  <%= link_to 'Ajouter un nouveau cours', new_course_path, class: "btn btn-primary pull-right" if current_user && current_user.is_admin %>
</h1>


    <% @courses.each do |course| %>


    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default">
        <%= image_tag course.illustration.url(:medium) %>
        <div class="panel-body">
          <div class="fixed-height">
          <b><%= link_to course.name, course %></b>
          <hr>
          <%= truncate(course.short_description, length: 100) %>
        </div>
        <hr>
          <% if current_user.is_student?(course) %>
          <div class="hkncolor">
          <%= link_to "Poursuivre le cours", course, class: "btn btn-default btn-lg btn-block"  %>
        </div>
          <% else %>
          <%= link_to "Découvrir ce cours", course, class: "btn btn-primary btn-lg btn-block"  %>
          <% end %>
          
        </div>
      </div>
    </div>

      
        
        
    
    <% end %>


<br>


