
<%= content_for :image do %>
<%= image_tag @course.illustration.url(:head) %>
<% end %>

<%= content_for :page_title do %>
<%= @course.name %>
<% end %>

<% if current_user.is_student?(@course) %>
<!-- si inscrit -->
<h2 class="page-header">
	Leçons
	<%= link_to "Ajouter une nouvelle leçon", new_lesson_path, class: "btn btn-primary pull-right" if current_user.is_admin %>
</h2>

<div class="col-md-10 col-md-offset-1">

<ul class="list-group">
<% @lessons.each do |lesson| %>
<li class="list-group-item">
	<h4><%= lesson.nr %> - <%= link_to lesson.name, lesson %>
		<% if current_user.has_achieved?(lesson) %>
		<i class="fa fa-check-circle-o fa-primary pull-right"></i>
		<% end %>
	</h4>
</li>
<% end %>
</ul>
</div>




<% else %>

<!-- si pas inscrit -->




<div class="row with-top-image">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="lead">
				  <%= @course.description %>
				</p>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">

				<h1 class="text-center"><small>Ce cours est pour vous si</small></h1>
				<p>
				  <%= markdown(@course.target) %>
				</p>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">

				<h1 class="text-center"><small>A l'issue de ce cours, vous serez capable de</small></h1>
				<p>
				  <%= markdown(@course.outcome) %>
				</p>
			</div>
		</div>

		

		<h1>
			<%= link_to "S'inscrire à ce cours", course_path(@course, anchor: "payment"), class: "btn btn-success btn-lg btn-block" %>

		</h1>




	</div>



	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body" id="payment">

				<h1 class="text-center"><i>
					<small>Accès à vie : <%= @course.price %> €</small>
				</i></h1>
				<hr>

				<div class="text-center">
				<%= form_tag buy_path(id: @course.id) do %>
 
				    <% if flash[:error].present? %>
				      <div id="error_explanation">
				        <p><%= flash[:error] %></p>
				      </div>
				    <% end %>
				    
				  

				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-email= "<%= current_user.email %>"
				    	  data-name="Hackuna"
				          data-description="<%= @course.short_name %>"
				          data-currency="eur"
				          data-amount="<%= @course.price*100 %>"
				          data-locale="auto">
				    </script>
				<% end %>
			</div>


				<!--<%= link_to "S'inscrire", "#", class: "btn btn-success btn-lg btn-block" %>-->
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="text-center"><small>Pré-requis</small></h3>
				<p>
				  <%= markdown(@course.prerequis) %>
				</p>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="text-center"><small>Prof</small></h3>
				<p>
				  <%= @course.teacher.full_name if @course.teacher %>
				</p>
			</div>
		</div>
	</div>

</div>


<% end %>



