
<%= content_for :image do %>
<%= image_tag @course.illustration.url(:head) %>
<% end %>

<%= content_for :page_title do %>
<div class="main_title"><%= @course.name %></div>
<div class="sub_title"><small><%= @course.short_description %></small></div>
<% end %>

<% unless user_signed_in? %>
<div class="row">

  
<% end %>

<div class="col-md-10 col-md-offset-1">
<% if current_user && current_user.is_student?(@course) %>
<!-- si inscrit -->
<h2 class="page-header">
	Leçons
	<%= link_to "Ajouter une nouvelle leçon", new_lesson_path, class: "btn btn-primary pull-right" if current_user.is_admin %>
</h2>

<div class="col-md-10 col-md-offset-1">

<ul class="list-group">
<% @lessons.each do |lesson| %>
<li class="list-group-item">
	<h4><%= lesson.nr %> - <%= link_to lesson.name, lesson %>
		<% if current_user.has_achieved?(lesson) %>
		<i class="fa fa-check-circle-o fa-primary pull-right"></i>
		<% end %>
	</h4>
</li>
<% end %>
</ul>
</div>




<% else %>

<!-- si pas inscrit -->




<div class="row with-top-image">
	<div class="col-md-8">
		
		<ul class="list-group">
			<li class="list-group-item">
				  <p class="text-center">
				  	<%= markdown(@course.description) %></p>
			</li>
		</ul>

		
				<ul class="list-group">
					<li class="list-group-item">
						  <h4 class="text-center hkncolor">Ce cours est pour vous si</h4>
					<hr>
						  <%= markdown(@course.target) %>
						
					</li>
				</ul>
			
				<ul class="list-group">
					<li class="list-group-item">
						 <h4 class="text-center hkncolor">A l'issue de ce cours, vous devriez être capable de</h4>
					<hr>
						
						  <%= markdown(@course.outcome) %>
						
					</li>
				</ul>
			





	</div>



	<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item list-group-item-warning custom text-center" id="payment">

				
					<h3 class="text-center">Accès à vie 
						<small><br><i><%= @course.price %></i> € ttc seulement</small>
					</h3>
				<hr>

				<% if user_signed_in? %>
				<div class="text-center">

					<%= form_tag buy_path(id: @course.id) do %>
	 
					    <% if flash[:error].present? %>
					      <div id="error_explanation">
					        <p><%= flash[:error] %></p>
					      </div>
					    <% end %>
					    
					  

					  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					          data-email= "<%= current_user.email %>"
					    	  data-name="Hackuna"
					          data-description="Cours : <%= @course.short_name %>"
					          data-currency="eur"
					          data-amount="<%= @course.price*100 %>"
					          data-locale="auto">
					    </script>
					<% end %>
				</div>
				<% else %>
				
				<%= link_to "Se connecter pour s'abonner", new_user_registration_path, class: "btn btn-primary btn-lg btn-block whitey" %>
			
				<% end %>
			</li>
		</ul>

		<ul class="list-group">
					<li class="list-group-item list-group-item-info">
						<div class="text-right">
						 <strong><small>Pré-requis</small></strong>
						</div>
						
						
						 <br> <%= markdown(@course.prerequis) %>
						
					</li>
				</ul>

		<ul class="list-group">
			<li class="list-group-item">
						 <div class="row">
						 	<div class="col-md-4">
						 		<%= link_to (image_tag @course.teacher.avatar.url(:medium), class: "img-circle"), user_path(@course.teacher) if @course.teacher %>
						 	</div>
						 	<div class="col-md-8">
						 		<div class="text-right">
							 		<strong><small>Instructeur</small></strong>
							 	</div>
						 		<br><b><%= link_to @course.teacher.full_name, user_path(@course.teacher)  if @course.teacher %></b>
						 		<br><i><%= link_to @course.teacher.baseline, user_path(@course.teacher)  if @course.teacher %></i>
						 	</div>
						 </div>
					</li>
				</ul>
	</div>

</div>


<% end %>
</div>

<% unless user_signed_in? %>
</div>
<% end %>



